@use 'presets' as *;
@use 'mixins' as *;

/* video */
.video {
  background-color: $color-gray-light;
  padding-bottom: 100px;

  &__iframe {
    border: 0;
    width: 100%;
    display: block;

    @include lg-min {
      height: 600px;
    }

    @include lg-md {
      height: 450px;
    }

    @include md {
      height: 350px;
    }
  }
}
