@use 'presets' as *;
@use 'mixins' as *;

/* experience */
.experience {
  padding-top: 100px;
  padding-bottom: 92px;
  background-color: $color-primary;
  color: $color-white;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-lg;

    @include lg-min {
      justify-content: space-between;
    }
    @include lg {
      justify-content: space-evenly;
    }
  }
}
