@use 'presets' as *;
@use 'mixins' as *;

/* content */
.content {
  display: flex;
  flex-direction: column;

  @include md-min {
    max-width: $container-secondary;
    align-items: flex-start;
  }
  @include md {
    align-items: center;
    text-align: center;
  }

  &__title {
    margin: 0 0 33px;
    font-size: 3rem;
    font-weight: 500;

    @include md {
      line-height: 1.25;
    }
  }

  &__description {
    color: $color-secondary;
    margin-bottom: 57px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 65px;
    color: $color-white;
    background-color: $color-primary;
    letter-spacing: $letter-spacing;
    padding: 0.5em 1em;
  }
}
